{{> head}}
<body>
     {{>nav}}
    <h1>{{title}}</h1>
    <ul class="weather_output">
        <li><span style=" font-weight: bold">city:</span> {{city}}</li>
        <li><span style=" font-weight: bold">temperature:</span> {{temperature}} &#8457;</li>
        <li><span style=" font-weight: bold">summary:</span> {{summary}}
    </ul>
    {{>footer}}
</body>
</html>